
body{
background-color: rgba(211, 218, 231, 0.925);
font-family: 'Sriracha', cursive;
}



.back2{
    z-index: 1;
    position: absolute;
    width: 80%;
    height: 1000px;
    left: 10%;
    top: 70px;
    
    background: #FFFFFF;
}

.TitleBar{
z-index: 2;
position: absolute;
width: 100%;
height: 91px;
left: 0px;
top: 0px;

background: black;
}



.Title{
    position: absolute;
    left: 10%;
    top:-10px;
    
    
    font-style: normal;
    font-weight: normal;
    font-size: 300%;
    line-height: 56px;

    background: black;
    color: #C04FB5;

}

.index{
    position: absolute;
   
    
    left: 35%;
    top: 30px;
    
    
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
    line-height: 28px;
    background: black;
    color: #FFFFFF;
}

.Restp{
    position: absolute;
    left: 45%;
    top: 30px;
    


font-style: normal;
font-weight: normal;
font-size: 120%;
line-height: 28px;
background-color: black;
color: #FFFFFF;
}

.Anti{
    position: absolute;
    left: 58%;
    top: 30px;
    
    
    
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
    line-height: 28px;
    background: black;
    color: #FFFFFF;
    
}

.Map{
    position: absolute;
    left: 68%;
    top: 30px;
    


font-style: normal;
font-weight: normal;
font-size: 120%;
line-height: 28px;
background: black;
color: #FFFFFF;

    
}

a:link
{
    background: black;
color: white;
}

a:visited 
{
    background: black;
    color: white;
}

a:link 
{
    background: black;
    text-decoration: none;
}