.back2
{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,.8)) ,url(Sweet.jpeg); 
    background-size: cover;
    color: white;
    background-position: 10% 90%; 
}

#map 
{
    padding-top: 40px;
    height: 700px;
    width: 100%;

}

